.desktop11-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop11-desktop1 {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(198, 186, 186, 1);
}
.desktop11-rectangle4 {
  top: 0px;
  left: 0px;
  width: 1440px;
  height: 54px;
  position: absolute;
}
.desktop11-text {
  top: 15px;
  left: 1236px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text002 {
  top: 15px;
  left: 636px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text004 {
  top: 15px;
  left: 93px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-rectangle5 {
  top: 65px;
  left: 14px;
  width: 1056px;
  height: 127px;
  position: absolute;
}
.desktop11-rectangle6 {
  top: 65px;
  left: 1088px;
  width: 339px;
  height: 127px;
  position: absolute;
}
.desktop11-rectangle10 {
  top: 202px;
  left: 1088px;
  width: 339px;
  height: 182px;
  position: absolute;
  border-radius: 20px;
}
.desktop11-rectangle11 {
  top: 392px;
  left: 1088px;
  width: 339px;
  height: 187px;
  position: absolute;
  border-radius: 20px;
}
.desktop11-rectangle2 {
  top: 72px;
  left: 680px;
  width: 372px;
  height: 45px;
  position: absolute;
  border-color: rgba(141, 195, 211, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
.desktop11-rectangle3 {
  top: 134px;
  left: 681px;
  width: 372px;
  height: 45px;
  position: absolute;
  border-color: rgba(141, 195, 211, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
.desktop11-rectangle9 {
  top: 65.05267333984375px;
  left: 435.8359375px;
  width: 135px;
  height: 11px;
  position: absolute;
}
.desktop11-rectangle7 {
  top: 76px;
  left: 35px;
  width: 372px;
  height: 45px;
  position: absolute;
  border-color: rgba(140, 194, 211, 1);
  border-style: solid;
  border-width: 6px;
  border-radius: 10px;
}
.desktop11-rectangle8 {
  top: 134px;
  left: 34px;
  width: 372px;
  height: 45px;
  position: absolute;
  border-color: rgba(141, 195, 211, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
.desktop11-ellipse1 {
  top: 83px;
  left: 451px;
  width: 41px;
  height: 31px;
  position: absolute;
  border-color: rgba(1, 48, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.desktop11-text006 {
  top: 78px;
  left: 510px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text008 {
  top: 71px;
  left: 1102px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text010 {
  top: 85px;
  left: 1349px;
  color: rgba(255, 255, 255, 1);
  width: 23px;
  height: auto;
  position: absolute;
  font-size: 96px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame25 {
  top: 243px;
  left: 1101px;
  width: 312px;
  height: 124px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop11-frame26 {
  top: 429px;
  left: 1101px;
  width: 312px;
  height: 126px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.desktop11-text011 {
  top: 204px;
  left: 1149px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text013 {
  top: 399px;
  left: 1103px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text015 {
  top: 554px;
  left: 1104px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame27 {
  top: 906px;
  left: 1266px;
  width: 161px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(231, 16, 16, 1);
}
.desktop11-text017 {
  top: 10px;
  left: 41px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame28 {
  top: 906px;
  left: 1088px;
  width: 163px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(231, 16, 16, 1);
}
.desktop11-text019 {
  top: 11px;
  left: 46px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame29 {
  top: 961px;
  left: 1088px;
  width: 339px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(231, 16, 16, 1);
}
.desktop11-text021 {
  top: 12px;
  left: 35px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text023 {
  top: 11px;
  left: 191px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame30 {
  top: 591px;
  left: 1084px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text025 {
  top: 9px;
  left: 25px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame31 {
  top: 591px;
  left: 1175px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text026 {
  top: 7px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame32 {
  top: 591px;
  left: 1267px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text027 {
  top: 7px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame33 {
  top: 591px;
  left: 1359px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text028 {
  top: 10px;
  left: 3px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame39 {
  top: 668px;
  left: 1084px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text033 {
  top: 8px;
  left: 25px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame40 {
  top: 668px;
  left: 1175px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text034 {
  top: 10px;
  left: 20px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame41 {
  top: 668px;
  left: 1267px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text035 {
  top: 9px;
  left: 25px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame42 {
  top: 668px;
  left: 1355px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text036 {
  top: 21px;
  left: 12px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame35 {
  top: 753px;
  left: 1084px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text038 {
  top: 10px;
  left: 27px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame51 {
  top: 859px;
  left: 18px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(231, 16, 16, 1);
}
.desktop11-text039 {
  top: 14px;
  left: 8px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame52 {
  top: 911px;
  left: 18px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(231, 16, 16, 1);
}
.desktop11-text041 {
  top: 3px;
  left: 14px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame511 {
  top: 964px;
  left: 19px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(231, 16, 16, 1);
}
.desktop11-text048 {
  top: 14px;
  left: 17px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame53 {
  top: 859px;
  left: 113px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(249, 155, 13, 1);
}
.desktop11-text050 {
  top: 11px;
  left: 14px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame54 {
  top: 911px;
  left: 113px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(249, 155, 13, 1);
}
.desktop11-text052 {
  top: 2px;
  left: 16px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame55 {
  top: 964px;
  left: 114px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(249, 155, 13, 1);
}
.desktop11-frame56 {
  top: 859px;
  left: 210px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(249, 155, 13, 1);
}
.desktop11-frame57 {
  top: 911px;
  left: 210px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(249, 155, 13, 1);
}
.desktop11-frame58 {
  top: 964px;
  left: 211px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(249, 155, 13, 1);
}
.desktop11-frame59 {
  top: 859px;
  left: 307px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(26, 189, 22, 1);
}
.desktop11-frame60 {
  top: 911px;
  left: 307px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(26, 189, 22, 1);
}
.desktop11-frame61 {
  top: 964px;
  left: 308px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(26, 189, 22, 1);
}
.desktop11-frame65 {
  top: 858px;
  left: 499px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame66 {
  top: 910px;
  left: 499px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame67 {
  top: 963px;
  left: 500px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame68 {
  top: 858px;
  left: 596px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame69 {
  top: 910px;
  left: 596px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame70 {
  top: 963px;
  left: 597px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame71 {
  top: 858px;
  left: 596px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame72 {
  top: 910px;
  left: 596px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame73 {
  top: 963px;
  left: 597px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame74 {
  top: 858px;
  left: 596px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame75 {
  top: 910px;
  left: 596px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame76 {
  top: 963px;
  left: 597px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame77 {
  top: 858px;
  left: 596px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame78 {
  top: 910px;
  left: 596px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame79 {
  top: 963px;
  left: 597px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame62 {
  top: 858px;
  left: 404px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(26, 189, 22, 1);
}
.desktop11-frame63 {
  top: 910px;
  left: 404px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(26, 189, 22, 1);
}
.desktop11-frame64 {
  top: 963px;
  left: 405px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(26, 189, 22, 1);
}
.desktop11-frame80 {
  top: 859px;
  left: 692px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame106 {
  top: 27px;
  left: -34px;
  width: 68px;
  height: 54px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-frame81 {
  top: 911px;
  left: 692px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame82 {
  top: 964px;
  left: 693px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame83 {
  top: 859px;
  left: 786px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame84 {
  top: 911px;
  left: 786px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame85 {
  top: 964px;
  left: 788px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame86 {
  top: 859px;
  left: 883px;
  width: 89px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame87 {
  top: 911px;
  left: 883px;
  width: 89px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame88 {
  top: 964px;
  left: 885px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(85, 130, 182, 1);
}
.desktop11-frame89 {
  top: 859px;
  left: 981px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop11-frame90 {
  top: 911px;
  left: 981px;
  width: 88px;
  height: 51px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop11-frame91 {
  top: 964px;
  left: 982px;
  width: 88px;
  height: 50px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop11-frame36 {
  top: 755px;
  left: 1175px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text057 {
  top: 8px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame37 {
  top: 753px;
  left: 1267px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text058 {
  top: 10px;
  left: 25px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame38 {
  top: 753px;
  left: 1355px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text059 {
  top: 6px;
  left: 22px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame43 {
  top: 830px;
  left: 1084px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text060 {
  top: 9px;
  left: 24px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame45 {
  top: 830px;
  left: 1172px;
  width: 167px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text061 {
  top: 8px;
  left: 56px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame46 {
  top: 830px;
  left: 1355px;
  width: 72px;
  height: 64px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-style: solid;
  border-width: 6px;
  background-color: rgba(15, 13, 13, 1);
}
.desktop11-text063 {
  top: 20px;
  left: 13px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-frame47 {
  top: 199px;
  left: 9px;
  width: 1071px;
  height: 437px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(156, 204, 248, 1);
}
.desktop11-tableexample {
  top: 13px;
  left: 61px;
  width: 987px;
  height: 372px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
}
.desktop11-frame20 {
  width: 72px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop11-text-cell {
  gap: 10px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text065 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell01 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text066 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell02 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text067 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell03 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text068 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell04 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text069 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell05 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text070 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell06 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text071 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell07 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--dl-color-default-white);
}
.desktop11-text072 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-frame19 {
  width: 316px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop11-text-cell08 {
  gap: 10px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text073 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell09 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text075 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell10 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text077 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell11 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text079 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell12 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text081 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell13 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text083 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell14 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text085 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell15 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--dl-color-default-white);
}
.desktop11-text087 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-frame22 {
  width: 110px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop11-text-cell16 {
  gap: 10px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text089 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell17 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text091 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell18 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text093 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell19 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text095 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell20 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text097 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell21 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text099 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell22 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text101 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell23 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--dl-color-default-white);
}
.desktop11-text103 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-frame21 {
  width: 150px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop11-text-cell24 {
  gap: 10px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text105 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell25 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text107 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell26 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text109 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell27 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text111 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell28 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text113 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell29 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text115 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell30 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text117 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell31 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--dl-color-default-white);
}
.desktop11-text119 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-frame23 {
  width: 358px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop11-text-cell32 {
  gap: 10px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text121 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell33 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text123 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell34 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text125 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell35 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text127 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell36 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text129 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell37 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text131 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell38 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text133 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell39 {
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--dl-color-default-white);
}
.desktop11-text135 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-frame24 {
  width: 141px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.desktop11-text-cell40 {
  gap: 10px;
  display: flex;
  padding: 12px 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-text137 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.desktop11-text-cell41 {
  display: flex;
  padding: 9px 16px 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-button {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop11-text139 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: left;
  line-height: 19px;
}
.desktop11-text-cell42 {
  display: flex;
  padding: 9px 16px 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-button1 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
  background-color: var(--dl-color-default-tertiary);
}
.desktop11-text141 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 19px;
}
.desktop11-text-cell43 {
  display: flex;
  padding: 9px 16px 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-button2 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop11-text143 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: left;
  line-height: 19px;
}
.desktop11-text-cell44 {
  display: flex;
  padding: 9px 16px 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-button3 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop11-text145 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: left;
  line-height: 19px;
}
.desktop11-text-cell45 {
  display: flex;
  padding: 9px 16px 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-button4 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 2px;
  border-radius: 24px;
  justify-content: center;
}
.desktop11-text147 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 19px;
}
.desktop11-text-cell46 {
  display: flex;
  padding: 9px 16px 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(154, 165, 182, 1);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: var(--dl-color-default-white);
}
.desktop11-button5 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
  background-color: var(--dl-color-default-tertiary);
}
.desktop11-text149 {
  color: var(--dl-color-default-primary);
  height: auto;
  text-align: left;
  line-height: 19px;
}
.desktop11-text-cell47 {
  display: flex;
  padding: 9px 16px 10px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: var(--dl-color-default-white);
}
.desktop11-button6 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  overflow: hidden;
  align-items: center;
  border-radius: 24px;
  justify-content: center;
  background-color: var(--dl-color-default-primary);
}
.desktop11-text151 {
  color: var(--dl-color-default-white);
  height: auto;
  text-align: left;
  line-height: 19px;
}
.desktop11-arrowblockup {
  top: 92px;
  left: -1px;
  width: 63px;
  height: 100px;
  position: absolute;
}
.desktop11-arrowblockup1 {
  top: 6px;
  left: -2px;
  width: 63px;
  height: 100px;
  position: absolute;
}
.desktop11-arrowblockup2 {
  top: 283.1120910644531px;
  left: 62.821380615234375px;
  width: 63px;
  height: 100px;
  position: absolute;
}
.desktop11-arrowblockup3 {
  top: 370.22418212890625px;
  left: 62.999603271484375px;
  width: 63px;
  height: 100px;
  position: absolute;
}
.desktop11-arrowblockup4 {
  top: 762px;
  left: 314px;
  width: 63px;
  height: 100px;
  position: absolute;
}
.desktop11-frame48 {
  top: 594px;
  left: 11px;
  width: 528px;
  height: 109px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(231, 16, 16, 1);
  border-style: solid;
  border-width: 6px;
  border-radius: 10px;
  background-color: rgba(249, 241, 176, 1);
}
.desktop11-frame50 {
  top: 709px;
  left: 14px;
  width: 1056px;
  height: 142px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(231, 16, 16, 1);
  border-style: solid;
  border-width: 6px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.desktop11-frame107 {
  top: 34px;
  left: 69px;
  width: 107px;
  height: 37px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop11-rectangle12 {
  top: 76px;
  left: 32px;
  width: 110px;
  height: 45px;
  position: absolute;
  border-color: rgba(140, 194, 211, 1);
  border-style: solid;
  border-width: 6px;
  border-radius: 10px;
}
.desktop11-rectangle13 {
  top: 133px;
  left: 32px;
  width: 110px;
  height: 45px;
  position: absolute;
  border-color: rgba(140, 194, 211, 1);
  border-style: solid;
  border-width: 6px;
  border-radius: 10px;
}
.desktop11-frame49 {
  top: 594px;
  left: 550px;
  width: 520px;
  height: 109px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(231, 12, 12, 1);
  border-style: solid;
  border-width: 6px;
  border-radius: 10px;
  background-color: rgba(248, 241, 176, 1);
}
.desktop11-text153 {
  top: 81px;
  left: 164px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text155 {
  top: 138px;
  left: 166px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 32px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text157 {
  top: 84px;
  left: 59px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.desktop11-text159 {
  top: 143px;
  left: 42px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
